<div class="wrapper wrapper-full-page" [ngClass]="{ 'manager-cursor-wait': waitingForResponse }">
    <div class="full-page login-page" data-color="" data-image="../../assets/img/background/login_bg.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form #changePasswordForm="ngForm" novalidate (ngSubmit)="changePassword(changePasswordForm)">
                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <div>
                                        <img src="../../../assets/img/manager_logo_login.png" class="manager_logo_img" />
                                    </div>
                                    <h3 class="card-title">{{"PagesResetPassword.ResetPassword" | translate}}</h3>
                                </div>
                                <div class="card-content">


                                    <div class="form-group">
                                        <ul>
                                            <li>{{"PagesChangePassword.PasswordlengthRequirement" | translate}}</li>
                                            <li>{{"PagesChangePassword.PasswordSymbolRequirement" | translate}}</li>
                                            <li>{{"PagesChangePassword.PasswordLowercaseRequirement" | translate}}</li>
                                            <li>{{"PagesChangePassword.PasswordUpppercaseRequirement" | translate}}</li>
                                            <li>{{"PagesChangePassword.PasswordNumberRequirement" | translate}}</li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <label>{{"Common.Password" | translate}}</label>
                                        <input type="password" maxlength="250" placeholder="Password"
                                               class="form-control input-no-border" id="password" name="password" [(ngModel)]="password" required
                                               pattern="^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[#?!@$%^&*-]).{6,}$">
                                        <small class="text-danger" *ngIf="changePasswordForm.controls.password?.dirty && changePasswordForm.controls.password?.errors?.required">
                                            {{"PagesChangePassword.PasswordRequiredError" | translate}}
                                        </small>
                                        <small class="text-danger" *ngIf="changePasswordForm.controls.password?.dirty && changePasswordForm.controls.password?.errors?.pattern">
                                            {{"PagesChangePassword.PasswordRequirementNotMet" | translate}}
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <label>{{"PagesChangePassword.ConfirmPassword" | translate}}</label>
                                        <input type="password" maxlength="250" placeholder="Confirm Password" class="form-control input-no-border"
                                               id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                                               required
                                               (blur)="blurConfirmPassword();">
                                        <small class="text-danger" [hidden]="!changePasswordForm.controls.confirmPassword?.dirty || !changePasswordForm.controls.confirmPassword?.touched || changePasswordForm.controls.confirmPassword?.valid">
                                            {{"PagesChangePassword.ConfirmPasswordRequiredError" | translate}}
                                        </small>
                                        <small class="text-danger" [hidden]="isPasswordMatch">
                                            {{"PagesChangePassword.ConfirmPasswordNotMatching" | translate}}
                                        </small>
                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-fill btn-wd " [disabled]="!changePasswordForm.valid || !this.isPasswordMatch">{{"PagesResetPassword.Reset" | translate}}</button>
                                </div>

                                <alert></alert>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    &copy; {{currentDate | date: 'yyyy'}} | ent International
                </div>
            </div>
        </footer>
    </div>
</div>
