<footer class="footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="card-header">
                        <div class="card-title">
                            <div class="copyright pull-left"> Platform Version 1.15</div>
                            <div class="copyright pull-right">&copy; {{test | date: 'yyyy'}} | ent International</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

