<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
              
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2018
            <a class="orange-text text-lighten-3" href="" target="_blank">ent International Ltd.</a>
        </div>
    </div>
</footer>
