@{
    ViewBag.Title = "manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<h1 class="header center orange-text">DB connection status: @ViewBag.DBStatus </h1>
<div class="row center">
    <h5 class="header col s12 light"></h5>
</div>
<h1>
 
</h1>
 
