<div class="wrapper wrapper-full-page" [ngClass]="{ 'manager-cursor-wait': waitingForResponse }">
    <div class="full-page login-page" data-color="" data-image="../../assets/img/background/login_bg.jpg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form #passwordResetForm="ngForm" novalidate (ngSubmit)="resetPassword(passwordResetForm)">
                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <div>
                                        <img src="../../../assets/img/manager_logo_login.png" class="manager_logo_img" />
                                    </div>
                                    <h3 class="card-title">{{"PagesResetPassword.ResetPassword" | translate}}</h3>
                                </div>
                                <div class="card-content">

                                    <div class="form-group">
                                        <label>{{"Common.UserName" | translate}}</label>
                                        <input type="text" maxlength="250" placeholder="User Name" class="form-control input-no-border"
                                               name="userName" id="userName" [(ngModel)]="userName" required>
                                        <small class="text-danger" [hidden]="passwordResetForm.controls.userName?.pristine || passwordResetForm.controls.userName?.valid">
                                            {{"PagesResetPassword.UserNameRequired" | translate}}
                                        </small>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-fill btn-wd " [disabled]="!passwordResetForm.valid">{{"PagesResetPassword.Reset" | translate}}</button>
                                </div>

                                <alert></alert>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    &copy; {{currentDate | date: 'yyyy'}} | ent International
                </div>
            </div>
        </footer>
    </div>
</div>
